$a-tags: 'a, a:active, a:hover, a:visited';
$a-tags-hover: 'a:active, a:hover';

@import url('https://fonts.googleapis.com/css?family=Gravitas+One');



$light: #f4f2e9;
$medium: #08708A;
$dark: #032B2F;



///phone
    nav {
      color: white;
      font-size: 50px;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      background-color: white;
        a{
          color: white;
          text-decoration: none;
        }
    }


    header {
      font-size: 60px;
      font-style: italic;
      text-transform: uppercase;
      color: black;
      background-color: white;
      height: 80px;
      position: fixed;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 3;
        a {
          text-decoration: none;
          color: black;


        }

    }

    footer {
      background: #858585;
      color: white;
      width: 100%;
      text-align: center;
      position: relative;


    }

    body {
    }

    li {
      display: block;
      text-align: center;
    }

#target {
  a{
    color: $medium;
  }
}

#pcpic {
  display: none;
}

.navweb {
  display: none;
}

.hello {
  display: none;
}
.attributes {
  display: none;
    li{
      margin-top: 10px;
      padding-left: 20px;
      font-size: 30px;
      color: white;
    }
}
.intro {
  font-size: 20px;
  background-color: $medium;
  color: white;
  position: fixed;
  width: 100%;

    h1 {
      font-style: oblique;
      font-weight: bold;
      font-size: 65px;
      padding-top: 8px;
      padding-left: 60px;
    }

    h2 {
      font-size: 30px;
      padding-left: 55px;

    }
}
.introduction {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  height: 20px;

}
.resume {
  height: 300px;
  width: 300px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #08708A;

  li{
    margin-top: 3px;
  }
}
.contact {
  height: 300px;
  width: 300px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #08708A;

  li{
    margin-top: 3px;
  }
}
.blog {
  height: 300px;
  width: 300px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #08708A;

    li{
      margin-top: 3px;
    }
}

.follow {
  background-color: black;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin-right: 2px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.follow1{
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;



  a{
    text-decoration: none;
    font-size: 50px;
    color: white;

  }
}


.followtext {
  padding-top: 8px;
  font-size: 55px;
  background-color: #858585;
  text-align: left;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
   h2{
      font-style: italic;
      font-weight: bold;

    }


}

.link {
  display: none;
  a{
    font-size: 20px;
    color: white;
  }
}

.link:hover {
  a{
  color: tomato;
  }
}

.circleimg {
  padding-top: 25px;
  padding-right: 50px;
  padding-bottom: 25px;
  padding-left: 50px;
  display: flex;
  justify-content: center;

  img {
    max-height: 500px;
    width: 500px;
    border-radius: 50%;
  }

}


.container {
  background-color: white;
}

.container1 {
  background-color: #D0D3C5;
  padding-top: 70px;
}

.container2 {
  padding-top: 100px;
  width: 100%;
  background-color: $medium;

}
.container3 {
  width: 100%;
  padding-top: 60px;
  background-color: white;

}



.words {
  padding-bottom: 20px;

    li{
      text-align: left;
      margin-top: 30px;

    }
}
.welcome {
  padding-bottom: 20px;

    h1 {
      font-size: 45px;
    }
}

span {
  text-transform: capitalize;
  color: $medium;
  font-weight: bold;
}


.wordspc {
  display: none;
}


.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 8px;


}

.circle1 {
  border-radius: 50%;
  height: 80px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;

    #{$a-tags} {
    color: white;
    text-decoration: none;
    }
    #{$a-tags-hover} {
    color: white;
    }
    a{
      padding-right: 1px;
      font-size: 50px;
      }
}
.circle2 {
  background-color: #E459F8;
  background-image: url("images/instafade.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  height: 80px;
  width: 80px;
  margin-left: 50px;
  margin-right: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

    #{$a-tags} {
    color: white;
    text-decoration: none;

    }
    #{$a-tags-hover} {
    color: white;
    }
    a{
      font-size: 50px;
      }
}
.circle3 {
  background-color: #007bb5;
  border-radius: 50%;
  height: 80px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;

    #{$a-tags} {
    color:  white;
    text-decoration: none;
    }
    #{$a-tags-hover} {
    color: white;
    }
    a{
      font-size: 50px;
      }
}

.foot {
  background: black;


}

///Resume


.introresume {
  font-size: 20px;
  width: 100%;
  background-color: #08708A;
  color: white;
  position: fixed;
  display: flex;
  justify-content: space-between;
  z-index: 1;

    h1 {
      font-style: oblique;
      font-weight: bold;
      font-size: 65px;
      padding-top: 8px;
      padding-left: 60px;
    }
}

.nav1{
  padding-top: 15px;
  padding-bottom: 4px;
  color: white;
  display: flex;
  position: absolute;
  top: 80px;
  margin-right: 40px;
  right: 0;
  z-index: 2;
    a{
      color: black;
      font-weight: bold;
      text-decoration: none;
      }
  }

.home1 {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  border-style: dotted;
  border-width: thin;
  border-color: $medium;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;

  li{
    margin-top: 1px;
    font-size: 30px;
  }
}

.blog1 {
  height: 120px;
  width: 120px;
  margin-left: 50px;
  margin-right: 50px;
  border-radius: 50%;
  border-style: dotted;
  border-width: thin;
  border-color: $medium;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;

  li{
    margin-top: 1px;
    font-size: 30px;
  }
}

.contact1 {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  border-style: dotted;
  border-width: thin;
  border-color: $medium;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;

  li{
    margin-top: 1px;
    font-size: 30px;
  }
}



.box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: white;

    li{
      padding-top: 5px;
      padding-bottom: 5px;
    }
}

.sum {
  width: 90%;

    li{
      padding-top: 10px;
      padding-bottom: 10px;
      text-align: left;
    }
}




.subject {
font-weight: bold;
height: 60px;
width: 80%;
margin-top: 20px;
margin-bottom: 20px;
border-style: solid;
border-width: medium;
border-color: #90d2f5;
border-radius: 5px;
color: $medium;
background-color: white;
display: flex;
justify-content: center;
align-items: center;


  a{
    text-transform: capitalize;
    font-family: 'Ovo', serif;
    font-style: italic;
    padding-left: 60px;
    font-size: 60px;
    color: #90d2f5;


  }

  h1 {
    font-size: 50px;
    letter-spacing: 6px;
    font-weight: bold;

   }

}


.text {
  width: 90%;
  font-size: 16px;

  li{
    text-align: left;
  }
}

.job {
  color: $medium;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 5px;

}
.company {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 16px;
}

.worklocation {
  font-size: 14px;

}

.date {
  font-size: 12px;
  align-items: center;
}

.skill {
  width: 90%;
  font-size: 14px;
  color: $medium;

    li {
      display: inline;
      padding-left: 5px;
      font-weight: bold;
   }
}

///Resume stop



.map {
  position: absolute;
  top: 230px;
  right: 60px;
}



///contact styling

.phone {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background-color: #08708A;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}

.mail {
  background: #08708A;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background-color: #08708A;
  left: 200px;

}

.contacticon {
  padding-top: 100px;
  padding-left: 60px;
  display: flex;
  align-items: flex-start;
  flex-flow: column;
    a {
      text-decoration: none;
      font-size: 40px;
      color: white;
    }

    li {
      font-size: 40px;
      color: white;
    }
    p{
      color: black;
      font-size: 20px;
      font-style: italic;
      font-weight: bold;
      padding-top: 5px;
      padding-bottom: 10px;
   }

}

.locationflow {
  display: flex;
  align-items: center;
    h1{
      color: #08708A;
      font-style: oblique;
      font-weight: bold;
      font-size: 50px;
      padding-left: 30px;
      }




}

.location {
  height: 80px;
  width: 80px;
  border-style: solid;
  border-width: none;
  border-color: $medium;
  margin-bottom: 8px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
    li {
      font-size: 40px;
      color: #08708A;
    }
}

.contactspace {
  background-color: white;
  //height: 160px;
  height: 800px;

}


.contactfoot {
  color: white;

  a{
    text-decoration: none;

  }



}

.footcontact {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  text-align: left;
    li {
      display: inline-block;
      padding-left: 15px;
      padding-top: 20px;
    }


}


.information {
  padding-top: 10px;
  display: flex;
  justify-content: space-around;


    h1{
      color: white;
      font-size: 35px;
      text-transform: uppercase;
    }

    h2{
      color: white;
      font-size: 20px;
    }
}
.iconfoot {
  font-size: 25px;
  display: flex;
  justify-content: flex-start;

    a{
    text-decoration: none;
    color: white;

  }
    p{
      font-size: 30px;
      padding-top: 22px;
      padding-left: 10px;
    }

}

.mapfoot {
  display: none;
  margin-left: 15px;
  margin-right: 15px;

}


.followfoot {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  margin-bottom: 5px;
}

//blogpost

.content {
  visibility: hidden;
  overflow: hidden;
  height: 0px;
  width: 0px;
  transition: width .2s;
  }



#min:target {
}

#min {

}

#lions:target {
  visibility: visible;
  overflow: auto;
  display: inline;
  width: 80%;
  height: auto;


    h2{
      padding-bottom: 20px;

    }

}

#wedegemont:target {
  visibility: visible;
  display: inline;
  width: 80%;
  height: auto;

    h2{
      padding-bottom: 20px;

    }
}
#nakusp:target {
  visibility: visible;
  display: inline;
  width: 80%;
  height: auto;

    h2{
      padding-bottom: 20px;

    }

}

#grind:target {
  visibility: visible;
  display: inline;
  width: 80%;
  height: auto;

    h2{
      padding-bottom: 20px;

    }
}



.posts {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  background-color: white;

    h1 {
      font-size: 80px;
    }
    a{
      text-decoration: none;
      color: white;
      }
}
.post {
  margin-bottom: 20px;
  height: 700px;
  width: 600px;
  color: white;
  background-image: url("images/lions.jpg");
  background-size: cover;
  background-position: left;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;

}
.post1 {
  margin-bottom: 20px;
  height: 700px;
  width: 600px;
  color: white;
  background-color: pink;
  background-image: url("images/snowcloud.jpg");
  background-size: cover;
  background-position: top;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;

}
.post2 {
  margin-bottom: 20px;

  height: 700px;
  width: 600px;
  color: white;
  background-color: salmon;
  background-image: url("images/bikes.jpg");
  background-size: cover;
  background-position: top;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;

}
.post3 {
  margin-bottom: 20px;
  height: 700px;
  width: 600px;
  color: white;
  background-color: tomato;
  background-image: url("images/grouse.jpg");
  background-size: cover;
  background-position: top;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;

}
.post4 {
  margin-bottom: 20px;
  height: 700px;
  width: 600px;
  background-color: orange;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;

}
/////////////////////////////tablet////////////////////////////////////////
@media screen and (min-width:600px) {
}



////////////////////desktop ////////////////////////////////////////////////
@media (min-width:1025px) {



//home page




nav {
  color: white;
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  background-color: white;
    a{
      color: white;
      text-decoration: none;
    }
}

header {
  height: 40px;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  border-style: solid;
  border-width: thin;
  border-color: black;
  a{
    display: flex;
  justify-content: center;
  align-items: center;
  }
}

.mapfoot {
    display: block;
    margin-left: 15px;
    margin-right: 15px;

  }





.hello{
  display: flex;
  font-family: 'Gravitas One', cursive;
}
.attributes{
  display: flex;
}


.navweb {
  display: flex;
  text-transform: capitalize;

  a{
    font-size: 20px;
  }

  a:hover {
    color: $medium;
  }
}
.blogweb {
  margin-left: 40px;
  margin-right: 40px;
}

.intro {
  display: none;
}

.container {
  margin-top: 50px;
  align-items: center;
  justify-content: space-around;


}



.iconfoot {
    p{
      font-size: 20px;
    }

}

.iconfoot:hover {

  a{
    color: tomato;

  }



}

.circleimg {
  justify-content: flex-start;
  display: flex;
  padding-top: 40px;
  margin-right: 40px;

  img {
    border-radius: 0%;
  }

}

#mobilepic {
  display: none;
}
#pcpic {
  display: block;

}

.words {
  max-width: 350px;
  height: 500px;
  background-color: white;
  border-radius: 5px;
    li{
      margin-top: 10px;



    }


}




.nikolaj {
  display: flex;
  justify-content: center;
  align-items: center;
  a{
    font-size: 30px;
  }

  a:hover{
    color: #a8a8a8;
  }

  li{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.container1 {
  margin-top: 0px;
  padding-top: 60px;
  padding-bottom: 15px;
  height: 100px;
  max-width: auto;
  background-color: #ffd281;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  display: none;

    h1{
    font-size: 110px;
    color: white;
    }
}

.container2 {
  display: none;
}
.resume {
  display: none;
}
.contact {
  display: none;

}
.blog {
  display: none;

}

.container {
  display: flex;
  justify-content: center;
    li{
      padding-top: 0px;
      padding-bottom: 0px;

     }
}


.information {
  padding-left: 10%;
  padding-right: 10%;
    h1{
      font-size: 23px;
    }
}







#resumelogo {
  display: none;
}
#bloglogo {
  display: none;
}
#contactlogo {
  display: none;
}

.posts {

  display: flex;
  flex-flow: row;
}





//resume start stylesheet

.nav1 {
  display: none;
}


.subject {
  margin-top: 70px;
}

.box {
  h1{
  font-size: 26px;}
}
  li {
    font-size: 20px;
  }


.sum {
  width: 70%;

}

.text {
  width: 70%;
}

.skill {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;

}

.introresume {
  display: none;
}
.container1 {
}
.container3 {
  display: none;
}


.box {
  display: flex;

}

.followtext {
  background-color: #858585;
  flex-flow: column;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  font-size: 30px;
  align-items: flex-start;
    h2{
      font-size: 30px;
      font-style: normal;
      font-weight: 400;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    a{
      text-align: left;
    }
}















.follow {
  height: 50px;
  width: 50px;
  margin-right: 10px;

  a{
    color: white;
    font-size: 25px;
  }
}


.follow:hover{
    a{
      color: tomato;
    }
}

.follow1{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;

}





.link {
  display: block;
}
//resume end style











//Contact styling started

















//contact styling and




}




//blog styling start








//blog styling end
